pip>=24.3.1
streamlit==1.25.0   # Streamlit version remains the same as it is the latest release
numpy==1.26.0       # Latest stable version of NumPy
pandas==2.1.1       # Latest stable version of pandas
matplotlib==3.8.0   # Latest stable version of Matplotlib
Pillow==8.0.0       # Pillow version may stay as it is, but if you want the latest, update it
seaborn==0.12.2     # Latest stable version of Seaborn
